.main-div {
    text-align: center;
    margin-top: 10px;
}

.weather-title {
    color: #4f46e5;
}

.second-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.weather-input {
    width: 80%;
    padding: 10px;
    font-size: 16;
    border: 1px solid #4f46e5;
    border-radius: 8px;
    flex: 1;
}

.search-btn {
    padding: 10px 16px;
    background-color: #4f46e5;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #3730a3;
}

.rander-data {
    max-width: 450px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: gainsboro;
    border-radius: 10px;
    border: 1px solid #4f46e5;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #f2f2f2;
}
.rander-data:hover{
    transform: scale(1.05);
}

.weather-icon {
    width: 80px;
    height: 80px;
    margin: 10px auto;
}
.container{
    height: 90vh;
}

